:root{
  --heading-color:#212121;
  --text-color: #757575;
   --background-color: #FFFFFF;
   --details-color: #2196F3;
   --logo-color: #000000;
   --section-color: #2F303A;
   --team-section-color: #ECECEC; 
   --buttons-background-color: #F5F4FA;
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

span {
    color: var(--details-color);
}

nav:hover {
    color: var(--details-color);
}

h2, h3 {
    color: var(--heading-color);
}

p {
    color: var(--text-color);
}

.team {
    background-color: var(--team-section-color);
    display: flex;
}

.logo, .logo a {
    color: var(--logo-color);
    font-family: 'Raleway', sans-serif;
}

header a {
    text-decoration: none;
    color: var(--heading-color);
    justify-content: space-around;
}

.hero-section-button {
    background-color: var(--details-color);
    color: var(--background-color);
    text-decoration: none;
}

footer {
    background-color: var(--section-color);
}

.white {
    color: var(--background-color);
    font-style: normal;
}

.info {
    color: var(--text-color);
    font-style: normal;
}

header  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.footer-logo{
    text-decoration: none;
    color: var(--background-color);
    font-family: 'Raleway', sans-serif;  
}

.team-name {
    color: var(--heading-color);
}

.main-list-item {
    color: var(--heading-color);
    background-color: var(--buttons-background-color);
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
}

.work-list-item {
     width: 370px;
     height: 294px;
     
}

.work-list {
    display: flex;
    flex-wrap: wrap;
}

.important-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-list-item {
    height: 404px;
    width: 370px;
}

.main-list {
    display: flex;
    flex-wrap: wrap;
}

.hero-container {
    align-items: center;
}