:root{
  --heading-color:#212121;
  --text-color: #757575;
   --background-color: #FFFFFF;
   --details-color: #2196F3;
   --logo-color: #000000;
   --section-color: #2F303A;
   --team-section-color: #ECECEC; 
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

span {
    color: var(--details-color);
}

nav:hover {
    color: var(--details-color);
}

h2, h3 {
    color: var(--heading-color);
}

p {
    color: var(--text-color);
}

.team {
    background-color: var(--team-section-color);
}

.logo, .logo a {
    color: var(--logo-color);
}

header a {
    text-decoration: none;
    color: var(--heading-color);
}

.hero-section-button {
    background-color: var(--details-color);
    color: var(--background-color);
    text-decoration: none;
}

footer {
    background-color: var(--section-color);
}

.white {
    color: var(--background-color);
    font-style: normal;
}

.info {
    color: var(--background-color);
    opacity: 60%;
    font-style: normal;
}

.footer-logo{
    text-decoration: none;
    color: var(--background-color);
}

.team-name {
    color: var(--heading-color);
}

